<html> 
    <head> 
        <style> 
           body{ 
            background-color: orange;
           } 
           #x{ 
            
            width:1510px; 
            
           } 
           #y{ 
            
            width:1510px; 
           
           }
        </style>
    </head> 
    <body>
        <center><h1>Holiday Impact</h1></center>   
        
       <img id="x" src="{{ url_for('static', filename='download(3).png') }}" alt="5"></img></br>
       <img id="y" src="{{ url_for('static', filename='download(4).png') }}" alt="5"></img>
    
        

    </body>
</html>